/* line 1, ../scss/partials/_global.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'AlternateGotNo3D';
  src: url("../fonts/AlternateGotNo3D/alternategotno3d-webfont.eot");
  src: url("../fonts/AlternateGotNo3D/alternategotno3d-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/AlternateGotNo3D/alternategotno3d-webfont.woff") format("woff"), url("../fonts/AlternateGotNo3D/alternategotno3d-webfont.ttf") format("truetype"), url("../fonts/AlternateGotNo3D/alternategotno3d-webfont.svg#alternategotno3dregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 19, ../scss/partials/_global.scss */
body, html {
  padding: 0;
  margin: 0;
  background: url(../imgs/grey.png);
  font-size: 100%;
  font-size: 1em;
  font-family: Verdana, Geneva, sans-serif;
  line-height: 1.5;
  color: #555555;
}

/* line 30, ../scss/partials/_global.scss */
h1, h2, h3, h4 {
  font-family: "AlternateGotNo3D";
  font-weight: normal;
  margin: 0;
}
/* line 37, ../scss/partials/_mixins.scss */
h1 a, h2 a, h3 a, h4 a {
  font-family: "AlternateGotNo3D";
  font-weight: normal;
}

/* line 34, ../scss/partials/_global.scss */
h1 {
  font-size: 2.5rem;
}

/* line 37, ../scss/partials/_global.scss */
h2 {
  font-size: 2rem;
}

/* line 40, ../scss/partials/_global.scss */
h3 {
  font-size: 1.5rem;
}

/* line 43, ../scss/partials/_global.scss */
h4 {
  font-size: 1.5rem;
}

/* line 47, ../scss/partials/_global.scss */
a {
  color: #9d1c35;
  text-decoration: none;
}
/* line 50, ../scss/partials/_global.scss */
a:active {
  color: #9d1c35;
}
/* line 53, ../scss/partials/_global.scss */
a:hover {
  color: #d04f68;
}

/* line 57, ../scss/partials/_global.scss */
.navigation {
  margin: 1em 0;
  float: right;
}
/* line 60, ../scss/partials/_global.scss */
.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 26, ../scss/partials/_mixins.scss */
.navigation ul:before, .navigation ul:after {
  content: " ";
  display: table;
}
/* line 30, ../scss/partials/_mixins.scss */
.navigation ul:after {
  clear: both;
}
/* line 63, ../scss/partials/_global.scss */
.navigation ul li {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #cccccc;
  text-align: center;
  color: #555555;
  float: left;
  display: block;
  padding: 0.5em;
  margin: 0 0.25em;
}
/* line 46, ../scss/partials/_mixins.scss */
.navigation ul li:hover {
  background-color: #9d1c35;
}
/* line 49, ../scss/partials/_mixins.scss */
.navigation ul li a {
  color: #555555;
  display: block;
  width: 100%;
  height: 100%;
}
/* line 54, ../scss/partials/_mixins.scss */
.navigation ul li a:hover {
  color: white;
}
/* line 71, ../scss/partials/_global.scss */
.navigation ul li.active {
  background-color: #9d1c35;
}
/* line 73, ../scss/partials/_global.scss */
.navigation ul li.active a {
  color: white;
}

/* line 79, ../scss/partials/_global.scss */
.nav-previous {
  display: inline-block;
  float: left;
}

/* line 83, ../scss/partials/_global.scss */
.nav-next {
  display: inline-block;
  float: right;
}

/* line 87, ../scss/partials/_global.scss */
#header, #menu, #main, #footer {
  width: 100%;
}

/* line 90, ../scss/partials/_global.scss */
#footer, #menu {
  background-color: #555555;
  color: white;
}

/* line 94, ../scss/partials/_global.scss */
.inner-wrap {
  max-width: 75.000em;
  width: 80%;
  margin: 0 auto;
}

/* line 99, ../scss/partials/_global.scss */
.main-col {
  float: none;
  vertical-align: top;
  display: table-cell;
  width: 70%;
  padding: 5rem 2.5em;
  background-color: white;
}

/* line 105, ../scss/partials/_global.scss */
.one-col {
  width: 100%;
  padding: 2.5em;
  background-color: white;
}

/* line 110, ../scss/partials/_global.scss */
.button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #cccccc;
  text-align: center;
}
/* line 46, ../scss/partials/_mixins.scss */
.button:hover {
  background-color: #9d1c35;
}
/* line 49, ../scss/partials/_mixins.scss */
.button a {
  color: #555555;
  display: block;
  width: 100%;
  height: 100%;
}
/* line 54, ../scss/partials/_mixins.scss */
.button a:hover {
  color: white;
}

/* line 2, ../scss/partials/_navbar.scss */
#menu .inner-wrap {
  padding: 1.25em 2.5em;
}
/* line 26, ../scss/partials/_mixins.scss */
#menu .inner-wrap:before, #menu .inner-wrap:after {
  content: " ";
  display: table;
}
/* line 30, ../scss/partials/_mixins.scss */
#menu .inner-wrap:after {
  clear: both;
}
/* line 5, ../scss/partials/_navbar.scss */
#menu .inner-wrap .menu-main-menu-container {
  float: left;
  height: 1.875em;
}
/* line 26, ../scss/partials/_mixins.scss */
#menu .inner-wrap .menu-main-menu-container:before, #menu .inner-wrap .menu-main-menu-container:after {
  content: " ";
  display: table;
}
/* line 30, ../scss/partials/_mixins.scss */
#menu .inner-wrap .menu-main-menu-container:after {
  clear: both;
}
/* line 70, ../scss/partials/_mixins.scss */
#menu .inner-wrap .menu-main-menu-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 74, ../scss/partials/_mixins.scss */
#menu .inner-wrap .menu-main-menu-container ul li {
  float: left;
  display: inline-block;
  text-align: center;
}
/* line 10, ../scss/partials/_navbar.scss */
#menu .inner-wrap .menu-main-menu-container li {
  margin-right: 2.5em;
}
/* line 12, ../scss/partials/_navbar.scss */
#menu .inner-wrap .menu-main-menu-container li a {
  font-family: "AlternateGotNo3D";
  font-size: 1.5em;
  line-height: 1.875rem;
  color: white;
}
/* line 17, ../scss/partials/_navbar.scss */
#menu .inner-wrap .menu-main-menu-container li a:hover {
  color: #d04f68;
}
/* line 23, ../scss/partials/_navbar.scss */
#menu .inner-wrap .button {
  float: right;
  display: inline-block;
  padding: 0.25em 1em;
}

/* line 1, ../scss/partials/_header.scss */
#header {
  background: url("../imgs/uat.jpg");
  background-size: cover;
  height: 25.000em;
}
/* line 5, ../scss/partials/_header.scss */
#header .one-col {
  background: transparent;
}
/* line 8, ../scss/partials/_header.scss */
#header #branding {
  padding: 2.5em;
}
/* line 11, ../scss/partials/_header.scss */
#header #site-logo {
  max-width: 100px;
  float: left;
  margin-top: 2em;
}
/* line 15, ../scss/partials/_header.scss */
#header #site-logo img {
  width: 100%;
}
/* line 19, ../scss/partials/_header.scss */
#header #site-title {
  float: left;
  margin-left: 1em;
  margin-top: 2em;
}
/* line 23, ../scss/partials/_header.scss */
#header #site-title h1 {
  font-size: 3.5rem;
  line-height: 6.250rem;
}
/* line 26, ../scss/partials/_header.scss */
#header #site-title h1 a {
  color: white;
}
/* line 31, ../scss/partials/_header.scss */
#header #site-description {
  float: right;
  display: block;
  background-color: black;
  color: white;
  opacity: 0.75;
  font-size: 1rem;
  position: relative;
  top: 4rem;
  right: -2.5rem;
  padding: 1rem 2.5rem;
}

/* line 1, ../scss/partials/_entry.scss */
.post {
  margin-bottom: 3rem;
  border-top: solid 1px #555555;
}
/* line 4, ../scss/partials/_entry.scss */
.post .fa {
  margin-right: 5px;
}

/* line 8, ../scss/partials/_entry.scss */
.entry-date {
  float: right;
  padding: 0.5em 1em;
  background-color: #555555;
  color: white;
}

/* line 14, ../scss/partials/_entry.scss */
.entry-summary {
  margin: 2rem 0;
}

/* line 17, ../scss/partials/_entry.scss */
.entry-footer {
  font-size: 0.875em;
}

/* line 20, ../scss/partials/_entry.scss */
.moretag {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #cccccc;
  text-align: center;
  float: right;
  margin-top: 1rem;
}
/* line 46, ../scss/partials/_mixins.scss */
.moretag:hover {
  background-color: #9d1c35;
}
/* line 49, ../scss/partials/_mixins.scss */
.moretag a {
  color: #555555;
  display: block;
  width: 100%;
  height: 100%;
}
/* line 54, ../scss/partials/_mixins.scss */
.moretag a:hover {
  color: white;
}
/* line 24, ../scss/partials/_entry.scss */
.moretag a {
  display: block;
  padding: 0.5em 1em;
}

/* line 30, ../scss/partials/_entry.scss */
.single .post {
  border-top: none;
}

/* line 1, ../scss/partials/_sidebar.scss */
.sidebar {
  float: none;
  vertical-align: top;
  display: table-cell;
  width: 30%;
  padding: 2.5em;
  background-color: #f2f2f2;
  font-size: 0.875rem;
}
/* line 7, ../scss/partials/_sidebar.scss */
.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 11, ../scss/partials/_sidebar.scss */
#search {
  width: 100%;
  height: 1.875em;
  position: relative;
}
/* line 15, ../scss/partials/_sidebar.scss */
#search .screen-reader-text {
  display: none;
}
/* line 18, ../scss/partials/_sidebar.scss */
#search .fa {
  line-height: 2rem;
  position: absolute;
  left: 0.5rem;
  font-size: 1.35rem;
}
/* line 24, ../scss/partials/_sidebar.scss */
#search #s {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  height: 2rem;
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  border: solid 1px #555555;
}

/* line 32, ../scss/partials/_sidebar.scss */
.text-widget, .abh_box {
  *zoom: 1;
}
/* line 38, ../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.text-widget:after, .abh_box:after {
  content: "";
  display: table;
  clear: both;
}

/* line 35, ../scss/partials/_sidebar.scss */
.widget-container {
  *zoom: 1;
  margin: 3em 0;
}
/* line 38, ../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.widget-container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 37, ../scss/partials/_sidebar.scss */
.widget-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 39, ../scss/partials/_sidebar.scss */
.widget-container ul li {
  line-height: 2;
  border-top: solid 1px #555555;
  padding: 0 1em;
}
/* line 42, ../scss/partials/_sidebar.scss */
.widget-container ul li:first-child {
  border: none;
}

/* line 2, ../scss/partials/_footer.scss */
#footer .inner-wrap {
  width: 75rem;
  *zoom: 1;
  padding: 1.25em 2.5em;
  font-size: 0.875rem;
}
/* line 38, ../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#footer .inner-wrap:after {
  content: "";
  display: table;
  clear: both;
}
/* line 7, ../scss/partials/_footer.scss */
#footer .inner-wrap .footer-widget {
  width: 33.33333%;
  float: left;
}
/* line 10, ../scss/partials/_footer.scss */
#footer .inner-wrap .footer-widget a {
  color: white;
}
/* line 13, ../scss/partials/_footer.scss */
#footer .inner-wrap .footer-widget .fa {
  font-size: 1rem;
}

/* line 19, ../scss/partials/_footer.scss */
.footer {
  *zoom: 1;
}
/* line 38, ../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.footer:after {
  content: "";
  display: table;
  clear: both;
}
/* line 21, ../scss/partials/_footer.scss */
.footer #nav-below {
  width: 100%;
}

/* Basic jQuery Slider essential styles */
/* line 2, ../scss/partials/_bjqs.scss */
#why-uat {
  *zoom: 1;
}
/* line 38, ../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#why-uat:after {
  content: "";
  display: table;
  clear: both;
}

/* line 5, ../scss/partials/_bjqs.scss */
ul.bjqs {
  *zoom: 1;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: none;
}
/* line 38, ../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
ul.bjqs:after {
  content: "";
  display: table;
  clear: both;
}

/* line 14, ../scss/partials/_bjqs.scss */
li.bjqs-slide {
  position: absolute;
  display: none;
}
/* line 15, ../scss/partials/_bjqs.scss */
li.bjqs-slide p {
  margin: 0;
}
/* line 4, ../scss/partials/_mixins.scss */
li.bjqs-slide p:before {
  content: '\f10d';
  font-family: "FontAwesome";
  color: #555555;
  display: inline-block;
  margin-right: 5px;
}
/* line 11, ../scss/partials/_mixins.scss */
li.bjqs-slide p:after {
  content: '\f10e';
  font-family: "FontAwesome";
  color: #555555;
  display: inline-block;
  margin-left: 5px;
}
/* line 19, ../scss/partials/_bjqs.scss */
li.bjqs-slide .why-uat-author {
  float: right;
  margin-top: 1em;
}
/* line 22, ../scss/partials/_bjqs.scss */
li.bjqs-slide .why-uat-author img {
  height: 50px;
  width: 50px;
}

/* line 28, ../scss/partials/_bjqs.scss */
ul.bjqs-controls {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 9999;
}

/* line 29, ../scss/partials/_bjqs.scss */
ul.bjqs-controls.v-centered li a {
  position: absolute;
}

/* line 30, ../scss/partials/_bjqs.scss */
ul.bjqs-controls.v-centered li.bjqs-next a {
  right: -1.5em;
}

/* line 31, ../scss/partials/_bjqs.scss */
ul.bjqs-controls.v-centered li.bjqs-prev a {
  left: -1.5em;
}

/* line 32, ../scss/partials/_bjqs.scss */
ol.bjqs-markers {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* line 33, ../scss/partials/_bjqs.scss */
ol.bjqs-markers.h-centered {
  text-align: center;
}
/* line 34, ../scss/partials/_bjqs.scss */
ol.bjqs-markers.h-centered .fa {
  margin: 2px;
  font-size: 0.75rem;
}

/* line 39, ../scss/partials/_bjqs.scss */
ol.bjqs-markers li {
  display: inline;
}

/* line 40, ../scss/partials/_bjqs.scss */
ol.bjqs-markers li.active-marker a {
  color: #9d1c35;
}

/* line 41, ../scss/partials/_bjqs.scss */
ol.bjqs-markers li a {
  display: inline-block;
  color: #555555;
}

/* line 42, ../scss/partials/_bjqs.scss */
p.bjqs-caption {
  display: block;
  width: 96%;
  margin: 0;
  padding: 2%;
  position: absolute;
  bottom: 0;
}

/* line 1, ../scss/partials/_starbox.scss */
.abh_box {
  position: relative;
  width: 100%;
  margin-bottom: 2rem;
}
/* line 5, ../scss/partials/_starbox.scss */
.abh_box .abh_tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  top: 80px;
  font-size: 0.8rem;
}
/* line 11, ../scss/partials/_starbox.scss */
.abh_box .abh_tabs li {
  display: block;
}
/* line 15, ../scss/partials/_starbox.scss */
.abh_box .abh_tabs li.abh_active a {
  font-weight: bold;
}
/* line 20, ../scss/partials/_starbox.scss */
.abh_box .abh_tab_content {
  overflow: hidden;
  border-bottom: 0px solid #ddd;
  min-height: 140px;
}
/* line 24, ../scss/partials/_starbox.scss */
.abh_box .abh_tab_content .abh_tab {
  display: none;
  border: none;
}
/* line 28, ../scss/partials/_starbox.scss */
.abh_box .abh_tab_content .abh_image {
  display: block;
  float: left;
  width: 80px;
}
/* line 32, ../scss/partials/_starbox.scss */
.abh_box .abh_tab_content .abh_image img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
  overflow: hidden;
  cursor: pointer;
  width: 80px;
  height: 80px;
}
/* line 41, ../scss/partials/_starbox.scss */
.abh_box .abh_tab_content .abh_text {
  margin: 0 0 2rem 7rem;
  line-height: 1.5;
}
/* line 44, ../scss/partials/_starbox.scss */
.abh_box .abh_tab_content .abh_text h3 {
  text-transform: capitalize;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
/* line 48, ../scss/partials/_starbox.scss */
.abh_box .abh_tab_content .abh_text h3 .abh_arrow {
  width: 20px;
  height: 20px;
}
/* line 51, ../scss/partials/_starbox.scss */
.abh_box .abh_tab_content .abh_text h3 .abh_arrow:after {
  content: '\f078';
  font-family: "FontAwesome";
  margin-left: 5px;
}
/* line 57, ../scss/partials/_starbox.scss */
.abh_box .abh_tab_content .abh_text h3 .abh_arrow.abh_active {
  width: 20px;
  height: 20px;
}
/* line 60, ../scss/partials/_starbox.scss */
.abh_box .abh_tab_content .abh_text h3 .abh_arrow.abh_active:after {
  content: '\f077';
  font-family: "FontAwesome";
  margin-left: 5px;
}
/* line 67, ../scss/partials/_starbox.scss */
.abh_box .abh_tab_content .abh_text h4 {
  text-transform: capitalize;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  font-family: "AlternateGotNo3D";
}
/* line 73, ../scss/partials/_starbox.scss */
.abh_box .abh_tab_content .abh_text .abh_allposts {
  display: none;
}
/* line 77, ../scss/partials/_starbox.scss */
.abh_box .abh_tab_content .abh_social {
  float: right;
  text-align: left !important;
  display: none;
}
/* line 81, ../scss/partials/_starbox.scss */
.abh_box .abh_tab_content .abh_social a.abh_facebook {
  font-size: 1.5rem;
  margin-right: 0.25rem;
}
/* line 84, ../scss/partials/_starbox.scss */
.abh_box .abh_tab_content .abh_social a.abh_facebook:before {
  content: '\f082';
  font-family: "FontAwesome";
}
/* line 89, ../scss/partials/_starbox.scss */
.abh_box .abh_tab_content .abh_social a.abh_flickr {
  font-size: 1.5rem;
  margin-right: 0.25rem;
}
/* line 92, ../scss/partials/_starbox.scss */
.abh_box .abh_tab_content .abh_social a.abh_flickr:after {
  content: '\f16e';
  font-family: "FontAwesome";
}
/* line 97, ../scss/partials/_starbox.scss */
.abh_box .abh_tab_content .abh_social a.abh_google {
  font-size: 1.5rem;
  margin-right: 0.25rem;
}
/* line 100, ../scss/partials/_starbox.scss */
.abh_box .abh_tab_content .abh_social a.abh_google:after {
  content: '\f0d4';
  font-family: "FontAwesome";
}
/* line 105, ../scss/partials/_starbox.scss */
.abh_box .abh_tab_content .abh_social a.abh_instagram {
  font-size: 1.5rem;
  margin-right: 0.25rem;
}
/* line 108, ../scss/partials/_starbox.scss */
.abh_box .abh_tab_content .abh_social a.abh_instagram:after {
  content: '\f16d';
  font-family: "FontAwesome";
}
/* line 113, ../scss/partials/_starbox.scss */
.abh_box .abh_tab_content .abh_social a.abh_linkedin {
  font-size: 1.5rem;
  margin-right: 0.25rem;
}
/* line 116, ../scss/partials/_starbox.scss */
.abh_box .abh_tab_content .abh_social a.abh_linkedin:after {
  content: '\f08c';
  font-family: "FontAwesome";
}
/* line 121, ../scss/partials/_starbox.scss */
.abh_box .abh_tab_content .abh_social a.abh_pinterest {
  font-size: 1.5rem;
  margin-right: 0.25rem;
}
/* line 124, ../scss/partials/_starbox.scss */
.abh_box .abh_tab_content .abh_social a.abh_pinterest:after {
  content: '\f0d2';
  font-family: "FontAwesome";
}
/* line 129, ../scss/partials/_starbox.scss */
.abh_box .abh_tab_content .abh_social a.abh_tumblr {
  font-size: 1.5rem;
  margin-right: 0.25rem;
}
/* line 132, ../scss/partials/_starbox.scss */
.abh_box .abh_tab_content .abh_social a.abh_tumblr:after {
  content: '\f174';
  font-family: "FontAwesome";
}
/* line 137, ../scss/partials/_starbox.scss */
.abh_box .abh_tab_content .abh_social a.abh_twitter {
  font-size: 1.5rem;
  margin-right: 0.25rem;
}
/* line 140, ../scss/partials/_starbox.scss */
.abh_box .abh_tab_content .abh_social a.abh_twitter:after {
  content: '\f081';
  font-family: "FontAwesome";
}
/* line 145, ../scss/partials/_starbox.scss */
.abh_box .abh_tab_content .abh_social a.abh_vimeo {
  font-size: 1.5rem;
  margin-right: 0.25rem;
}
/* line 148, ../scss/partials/_starbox.scss */
.abh_box .abh_tab_content .abh_social a.abh_vimeo:after {
  content: '\f194';
  font-family: "FontAwesome";
}
/* line 153, ../scss/partials/_starbox.scss */
.abh_box .abh_tab_content .abh_social a.abh_youtube {
  font-size: 1.5rem;
  margin-right: 0.25rem;
}
/* line 156, ../scss/partials/_starbox.scss */
.abh_box .abh_tab_content .abh_social a.abh_youtube:after {
  content: '\f166';
  font-family: "FontAwesome";
}
/* line 162, ../scss/partials/_starbox.scss */
.abh_box .abh_tab_content .abh_description {
  display: none;
  width: 100%;
}

/* line 169, ../scss/partials/_starbox.scss */
.abh_box .vcard {
  background: none;
  font-size: 100%;
  border: none;
}

/* line 170, ../scss/partials/_starbox.scss */
.abh_box .abh_pwb {
  display: none;
}

/* line 171, ../scss/partials/_starbox.scss */
.abh_box .abh_pwb a {
  position: absolute;
  text-decoration: none;
}

/* line 173, ../scss/partials/_starbox.scss */
#authors {
  *zoom: 1;
}
/* line 38, ../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#authors:after {
  content: "";
  display: table;
  clear: both;
}
/* line 175, ../scss/partials/_starbox.scss */
#authors .abh_box {
  width: 33.33333%;
  margin-bottom: 2rem;
  padding: 0 1rem;
  float: left;
}
/* line 180, ../scss/partials/_starbox.scss */
#authors .abh_box .abh_tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  *zoom: 1;
  display: none;
  font-size: 0.8rem;
  width: 90%;
  margin-top: 7rem;
  border-bottom: solid 1px #9d1c35;
}
/* line 38, ../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#authors .abh_box .abh_tabs:after {
  content: "";
  display: table;
  clear: both;
}
/* line 188, ../scss/partials/_starbox.scss */
#authors .abh_box .abh_tabs li {
  display: block;
  float: left;
  text-align: center;
  padding: 0.5rem 1rem;
}
/* line 194, ../scss/partials/_starbox.scss */
#authors .abh_box .abh_tabs li.abh_active {
  background-color: #9d1c35;
}
/* line 196, ../scss/partials/_starbox.scss */
#authors .abh_box .abh_tabs li.abh_active a {
  font-weight: bold;
  color: white;
}
/* line 202, ../scss/partials/_starbox.scss */
#authors .abh_box .abh_tab_content {
  overflow: hidden;
  border: none;
  border-color: #FFF;
  min-height: 140px;
}
/* line 207, ../scss/partials/_starbox.scss */
#authors .abh_box .abh_tab_content .abh_tab {
  display: none;
  border: none;
}
/* line 211, ../scss/partials/_starbox.scss */
#authors .abh_box .abh_tab_content .abh_image {
  display: block;
  clear: both;
  width: 100%;
  margin: 0 auto;
}
/* line 216, ../scss/partials/_starbox.scss */
#authors .abh_box .abh_tab_content .abh_image img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
  overflow: hidden;
  cursor: pointer;
  width: 80px;
  height: 80px;
  text-align: center;
}
/* line 226, ../scss/partials/_starbox.scss */
#authors .abh_box .abh_tab_content .abh_text {
  line-height: 1.5;
  display: block;
  margin: 0;
  width: 100%;
}
/* line 231, ../scss/partials/_starbox.scss */
#authors .abh_box .abh_tab_content .abh_text h3 {
  text-transform: capitalize;
  border: none;
  position: absolute;
  top: 5.5rem;
  cursor: pointer;
  display: block;
  text-align: center;
}
/* line 239, ../scss/partials/_starbox.scss */
#authors .abh_box .abh_tab_content .abh_text h3 .abh_arrow {
  width: 20px;
  height: 20px;
}
/* line 242, ../scss/partials/_starbox.scss */
#authors .abh_box .abh_tab_content .abh_text h3 .abh_arrow:after {
  content: '\f078';
  font-family: "FontAwesome";
  margin-left: 5px;
}
/* line 248, ../scss/partials/_starbox.scss */
#authors .abh_box .abh_tab_content .abh_text h3 .abh_arrow.abh_active {
  width: 20px;
  height: 20px;
}
/* line 251, ../scss/partials/_starbox.scss */
#authors .abh_box .abh_tab_content .abh_text h3 .abh_arrow.abh_active:after {
  content: '\f077';
  font-family: "FontAwesome";
  margin-left: 5px;
}
/* line 258, ../scss/partials/_starbox.scss */
#authors .abh_box .abh_tab_content .abh_text h4 {
  text-transform: capitalize;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  font-family: "AlternateGotNo3D";
}
/* line 264, ../scss/partials/_starbox.scss */
#authors .abh_box .abh_tab_content .abh_text .abh_allposts {
  display: none;
}
/* line 267, ../scss/partials/_starbox.scss */
#authors .abh_box .abh_tab_content .abh_text .abh_description {
  display: none;
  width: 100%;
  padding-top: 15rem;
}
/* line 273, ../scss/partials/_starbox.scss */
#authors .abh_box .abh_tab_content .abh_social {
  position: absolute;
  color: white;
  top: 7rem;
  display: block;
  width: 100%;
  text-align: left !important;
  display: none;
}
/* line 285, ../scss/partials/_starbox.scss */
#authors .abh_box .vcard {
  background: none;
  font-size: 100%;
  border: none;
}
/* line 286, ../scss/partials/_starbox.scss */
#authors .abh_box .abh_pwb {
  display: none;
}
/* line 287, ../scss/partials/_starbox.scss */
#authors .abh_box .abh_pwb a {
  position: absolute;
  text-decoration: none;
}
