#header, #menu, #main, #footer{
	width: 100%;
}
#footer, #menu{
	background-color: $gray;
	color: $white;
}
.inner-wrap{
	max-width: 75.000em;
	width: 80%;
	margin: $center;
}

.main-col{
	@include equal-height;
	width: 70%;
	padding: $pad-def;
	background-color: $white;
}
.sidebar{
	@include equal-height;
	width: 30%;
	padding: $pad-def;
	background-color: $light-gray1;
	font-size: 0.875rem;
}
.one-col{
	width: 100%;
	padding: $pad-def;
	background-color: $white;
}