/* Basic jQuery Slider essential styles */
#why-uat{
	@include pie-clearfix;
}
ul.bjqs{
@include pie-clearfix;
position:relative; 
list-style:none;
padding:0;
margin:0;
overflow:hidden; 
display:none;
}
li.bjqs-slide{position:absolute; display:none;
	p{
		@include quotes;
		margin: 0;
	}
	.why-uat-author{
		float: right;
		margin-top: 1em;
		img{
		height: 50px;
		width: 50px;
		}
	}
}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right: -1.5em;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left: -1.5em;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;
	.fa{
		margin: 2px;
		font-size: 0.75rem;
	}
}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li.active-marker a{color: $red;}
ol.bjqs-markers li a{display:inline-block; color: $gray;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}