.post{
	margin-bottom: 2.5rem;
	border-top: solid 1px $gray;
	.fa{
		margin-right: 5px;
	}
}
.entry-date{
	float: right;
	padding: 0.5em 1em;
	position: relative;
	top: -2.5rem;
	background-color: $gray;
	color: $white;
}
.entry-footer{
	font-size: 0.875em;
}

.single{
	.post{
		border-top: none;
	}
}