#footer{
	.inner-wrap{
		width: 75rem;
		@include pie-clearfix;
		padding: $pad-def/2 $pad-def;
		font-size: 0.875rem;
		.footer-widget{
			width: 100/3 * 1%;
			float: left;
			a{
				color: $white;
			}
			.fa{
				font-size: 1rem;
			}
		}
	}
}
.footer{
	@include pie-clearfix;
	#nav-below{
		width: 100%;
	}
}