#menu{
	.inner-wrap{
		@include clearfix;
		padding: $pad-def/2 $pad-def;
		.menu-main-menu-container{
			@include clearfix;
			@include nav-lists;
			float: left;
			height: 1.875em;
			li{
				margin-right: $pad-def;
				a{
					font-family: $AG;
					font-size: 1.5em;
					line-height: 1.875rem;
					color: $white;
					&:hover{
						color: $light-red;
					}	
				}	
			}
		}
		.button{
			float: right;
			display: inline-block;
			padding: 0.25em 1em;
		}
	}
}