.sidebar{
	@include equal-height;
	width: 30%;
	padding: $pad-def;
	background-color: $light-gray1;
	font-size: 0.875rem;
	ul{
		@include nostyle-ul;
	}
}
#search{
	width: 100%;
	height: 1.875em;
	position: relative;
	.screen-reader-text{
		display: none;
	}
	.fa{
		line-height: 2rem;
		position: absolute;
		left: 0.5rem;
		font-size: 1.35rem;
	}
	#s{
		@include border-radius(20px);
		height: 2rem;
		width: 100%;
		padding: 0.5rem 0.5rem 0.5rem 2rem;
		border: $border;
	}
}
.text-widget, .abh_box{
	@include pie-clearfix;
}
.widget-container{
	@include pie-clearfix;
	ul{
	@include nostyle-ul;
		li{
			line-height: 2;
			border-top: $border;
			&:first-child{
				border: none;
			}
			padding: 0 1em;
		}
	}
	margin: 3em 0;
}