
//Font Shorthand
$FA: 'FontAwesome';
$AG: 'AlternateGotNo3D';

//Default Padding
$pad-def: 2.5em;

//Center Things 
$center: 0 auto; 

//Colors
$red: #9D1C35;
$light-red: #D04F68;
$gray: #555;
$light-gray1: #F2F2F2;
$light-gray2: #CCC;
$dark-gray: #D7D7D7;
$white: #FFF;
$black: #000;

//Border
$border: solid 1px $gray;